<% if !logged_in? %>	
	<a href="<%='/auth/twitch'%>" class="forum">
		<div class="info signup">
			<h1>Sign in with Twitch</h1>
			<h3 class="container-fluid">Post in the forums. Use the shop. Contact Vezley. </h3>
			<h2 class="container-fluid">Click here to sign up now!</h2>
			<br>
		</div>
	</a>
<% end %>

<div class="info schedule">
	<p></p>
	<h1>Schedule</h1>
	<p>--Generally around 6 EST--</p>
	<p></p>
	<p>Main Casts (95% chance of cast): Tuesday, Friday, Sunday</p>
	<p></p>
	<p>Possible Extra Casts (70% chance of cast): Wednesday, Saturday</p>
	<p></p>
	<p>Days off (15% chance of cast): Monday, Thursday</p>
	<br>
</div>

<div class="info about">
	<p></p>
	<h1>about me</h1>
	<p>My name is Vezley - I enjoy gaming and playing the piano along with a little anime on the side. I am unsure what my future holds but I plan to keep an open mind.</p>
	<p></p>
	<p>As for being a caster on twitch - I hope to at least get a quality button to ensure stability for all my viewers.</p>
	<p></p>
	<p>The Vezzelution - simply a revolution that I'm starting here on twitch. To fight against anything and everything in life that brings you down. I want you to come in here and know you have a family. The Vezzelution isn't about me, but about all of us as a whole - I simply started it.</p>
	<br>
</div>

<div class="info about-website">
	<p></p>
	<h1>about vezley.tv</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<br>
</div>