<div class="info thanks">
	<p></p>
	<h1>thank you!</h1>
	<p>Your support is greatly appreciated. All donations go towards supporting Vezley. It is with the support of generous people such as yourself that Vezley is able to bring the excellent quality streams to twitch that he does. Viva la Vezzelution!</p>
</div>