<a href="/forum/all" class="forum">
	<div class="info forum">
		<h1>Forum</h1>
		<h3 class="container-fluid">Ask questions. Be courteous. Be amazing.</h3>
		<h2 class="container-fluid">Click a subject to open the specific forum.</h2>
		<br>
	</div>
</a>

<a href="/forum/content" class="forum">
	<div class="info forum">
		<h1>content</h1>
		<h4 class="container-fluid">All things content related should be posted here. What kind of things will be streamed? Can we expect a specific console or coverage of certain events?</h4>
		<br>
	</div>
</a>

<a href="/forum/technology" class="forum">
	<div class="info forum">
		<h1>technology</h1>
		<h4 class="container-fluid">All things technology, specifically, what it takes to stream! This can be a surprisingly deep subject, so hopefully we can answer all your questions. Feel free to ask questions too!</h4>
		<br>
	</div>
</a>

<a href="/forum/games" class="forum">
	<div class="info forum">
		<h1>Games</h1>
		<h4 class="container-fluid">Have a favorite game? Feel strongly about the plot of said game? Feel nothing because games have numbed you to reality? This is the place for you! All are welcome to talk about any game, just keep it family friendly in there!</h4>
		<br>
	</div>
</a>

<a href="/forum/general" class="forum">
	<div class="info forum">
		<h1>General</h1>
		<h4 class="container-fluid">Have a question, comment, or idea that doesn't fit in the other categories? This is the place to post it!</h4>
		<br>
	</div>
</a>

<a href="/forum/all" class="forum">
	<div class="info forum">
		<h1>all</h1>
		<h4 class="container-fluid">Click here to view all subjects in the forums!</h4>
		<br>
	</div>
</a>