<div class="info forum">
	<h1>Forum</h1>
	<h3 class="container-fluid">Ask questions. Be curteous. Be amazing.</h3>
	<h2 class="container-fluid">Click a subject to open the specific forum.</h2>
	<br>
</div>

<a href="#" class="forum">
	<div class="info forum">
		<h1>content</h1>
		<h4 class="container-fluid">All things content related should be posted here. What kind of things will be streamed? Can we expect a specific console or coverage of certain events?</h4>
		<br>
	</div>
</a>

<a href="#" class="forum">
	<div class="info forum">
		<h1>technology</h1>
		<h4 class="container-fluid">All things technology, specifically, what it takes to stream! This can be a surprisingly deep subject, so hopefully we can answer all your questions. Feel free to ask questions too!</h4>
		<br>
	</div>
</a>

<a href="#" class="forum">
	<div class="info forum">
		<h1>General</h1>
		<h4 class="container-fluid">Have a question, comment, or idea that doesn't fit in the other categories? This is the place to post it!</h4>
		<br>
	</div>
</a>