<div class="info new-user">
	<h1>Profile</h1>
	<br>

		<div class="row">
		  <aside class="col-md-4">
		    <section class="user_info">
		      <h1 class="title">
		        <%= gravatar_for @user %>
		        <%= @user.name %>
			       <% if current_user && current_user.mod == 1 && current_user != @user %>
					    | <%= link_to "ban", user_path(@user), method: :patch,
					                                  data: { confirm: "You sure?" } %>
					  <% end %>
		      </h1>
		    </section>
		  </aside>
		</div>
    
</div>