@import "bootstrap-sprockets";
@import "bootstrap";

/* font families */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: #19171c;
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.inline {
  display: inline;
  p {
    display: inline;
  }
}

.inline.center{
  margin-left: 20%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-family: 'Helvetica Neue,Helvetica,sans-serif';
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #39e600;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  text-align: left;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    width: 100%;
  }
  nav {
    display: inline;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* home */

.info {
  color: #999;
  background-color: rgb(30,30,30);
  border-radius: 15px;
  box-shadow: 2px 2px 1px black; 
  h1 {
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Helvetica Neue,Helvetica,sans-serif';
    font-weight: bold;
    color: #39e600;
    text-transform: uppercase;
  }
  p{
    text-align: left;
    margin: 10px 50px;
  }
}

/* contact */

.media {
  width: 50px;
  height: auto;
}

.links {
  text-align: center;
}

.btn{
  margin: 15px 0 20px 0;
}

/* forms */

.checkbox {
  color: #9d9d9d;
  margin-top: -10px;
  margin-bottom: 10px;
  display: inline-block;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


form {
  text-align: left;
}

form.donations {
  text-align: center;
  table {
    margin: 10px auto;
  }
}

input {
  margin-bottom: 15px;
}

#error_explanation {
  li {
    list-style: none;
    color: red;
  }
}

.field_with_errors {
  label {
    color: red;
  }
}

/* flash */
.flash{
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

/* querries */

@media (max-width: 728px) {
  .inline.center{
    margin-left: 5%;
  }
}

@media (max-width: 290px) {
  .info h1{
    font-size: 32px;
    margin-left: 5px;
  }
}