<footer class="footer">
  <small class="inline">
    <p>This website powered and created by <a href="http://martinsafer.com" target="_blank">Martin Safer</a></p>
  
    <div class="center inline">&#169; Vezley 2016</div>
    <nav>
      <ul>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </small>
</footer>