<footer class="footer">
  <small class="inline">
    <p>This website powered and created by <a href="#" target="_blank">Martin Safer</a></p>
  
    <div class="center inline">&#169; Vezley 2016</div>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="#">News</a></li>
      </ul>
    </nav>
  </small>
</footer>